@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Roboto:ital,wght@1,300&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 18px;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
}
.header {
  background: #1f2937;
}
.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 24px;
}
.logo {
  color: #f9faf8;
  font-size: 26px;
  font-weight: 800;
  margin-right: 26px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
.links {
  display: flex;
  gap: 26px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 70px;
}
.header__text {
  max-width: 480px;
  margin-right: 30px;
}
p {
  color: #e5e7eb;
}
h1 {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
}
button {
  background: #3882f6;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  padding: 6px 32px;
  color: #f9faf8;
}
.header__img {
  width: 580px;
  height: 300px;
  border-radius: 10px;
}
.info {
  background: #f9faf8;
  padding: 40px 0 50px;
}
.info__title {
  text-align: center;
  margin: 0 0 40px;
  color: #1f2937;
  font-size: 36px;
}
.info__items {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.info__item {
  width: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__item p {
  color: #1f2937;
  text-align: center;
}
.info__thumb {
  width: 150px;
  height: 150px;
  border: #3882f6 4px solid;
  border-radius: 14px;
}
.quote{
  background: #e5e7eb;
}
.quote__inner {
  display: flex;
  flex-direction: column;
  color: #1f2937;
  padding: 100px 184px;

}
blockquote{
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  margin: 0;
}
.author {
  font-weight: 800;
  align-self: flex-end;
  margin-right: 46px;
}
